@media screen and (max-width: 500px){
    .column{
        width: 100%;
    }
}
body {
    margin: 0;
    background: white;
    font-family: sans-serif;
    font-weight: 400;
}

.topnav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
header{
    background-color: rgb(140, 255, 251);
}
header::after {
    content: '';
    display: table;
    clear: both;
  }
.logo{
    float: none;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    padding-top: 5px;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
nav li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 30px;
}
nav a{
    color: rgb(77, 77, 77);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
nav a:hover{
    color: black;
}
nav a::after {
    content: '';
    display: block;
    height: 5px;
    background-color: black;
    width: 0;
}
nav a:hover::after{
    width: 100%;
}
.center{
    text-align: center;
}